<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  Bark is the place where good boys and good girls (and to be perfectly honest some bad boys and bad girls) go to rap about all sort of issues impacting the block you know?  All sorts of things.
</p>
