<div class="center jumbotron">

  <%= link_to image_tag("bark_logo.png", alt: "Bark Logo") %>

  <h1>Bark!</h1>

  <h2>
    !NO CATS ALLOWED!
  </h2>
  <h3>
    Kitties found trespassing will be prosecuted.
  </h3>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
