<li>
  <%= link_to park.name, park %>
  <br> Overall Rating: <%= number_with_precision(park.overall_average, precision: 1) %> | <%=park.reviews.count%> reviews
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", park, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
