<% if @user.image.profile.url != nil %>
  <%= image_tag @user.image.profile.url %>
<% end %>
<h1><%= @user.name %></h1>
<span><%= link_to "view my profile", @user %></span>
<span><%= pluralize(@user.barks.count, "bark") %></span>
