<% provide(:title, 'Re-Review') %>
<% provide(:button_text, 'Save changes') %>
<h1>Woof Woof?</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/review_form' %>
  </div>
</div>
